# MongoDB - User Service
MONGO_URI=mongodb://username:password@mongodb:27017/userdb?authSource=admin
MONGO_DB=userdb

# PostgreSQL - Product Service
DB_URL=jdbc:postgresql://postgres:5432/product
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# PostgreSQL - Order Service
DB_URL_ORDER=jdbc:postgresql://postgres:5432/order
DB_USER_ORDER=your_db_user
DB_PASSWORD_ORDER=your_db_password